* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1EBFC1;

}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    min-width: 108px;
    height: 68px;
    background: #1EBFC1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.sub-heading {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0D1111;
}

.sub-title {
    margin-top: 60px;
    font-weight: 700;
    font-size: 1.2rem;
    color: #767E7E;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}


/* Header */
.header {
    background: #fff;
    padding: 52px 0 12px;
}

.header.fixed {
    position: sticky;
    top: -38px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 235px;
}

.nav ul {
    display: flex;
    gap: 40px;
}

.nav ul li.active a {
    color: #2F3A3B;
    font-weight: 600;
}

.nav ul a {
    font-size: 1.6rem;
    color: #2F3A3B;
}

nav a:hover,
.action-link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.action {
    margin-left: auto;
}

.action .action-link {
    font-size: 1.6rem;
    color: #494949;
    margin-right: 24px;
}

.action .btn-action {
    min-width: 108px;
    height: 48px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.action .btn-action:hover {
    background: var(--primary-color);
}

.action .btn-action a {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.6rem;
}

.action .btn-action:hover a {
    color: #FFFFFF;
}

/* Hero */
.hero {
    margin-top: 38px;
    padding-bottom: 70px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero left */

.hero-about-left .sub-title {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0;
    color: #767E7E;
}

.hero-about-left .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0D1111;
}

.hero-about-left .desc {
    margin-top: 46px;
    max-width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9DA6A5;
}

.hero-about-left .action {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero-about-left .action .btn {
    min-width: 186px;
    margin-right: 50px;
    transition: all .3s ease-out;
}

.hero-about-left .action .btn:hover {
    border: 1px solid var(--primary-color);
    background-color: transparent;
}

.hero-about-left .action .btn:hover a {
    color: var(--primary-color);
}

.hero-about-left .action .btn a {
    font-weight: 600;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.hero-about-left .action .play-video {
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    transition: all .3s ease-out;
}

.hero-about-left .action .play-video:hover {
    background: var(--primary-color);
}

.hero-about-left .action .play-video .play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 24px;
}

.hero-about-left .action .play-video .play:hover svg path {
    fill: #fff;
}

/* Hero right */
.hero-about-right {
    position: relative;
}

.hero-about-right .hero-img img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.list-info span {
    font-weight: 500;
    font-size: 1rem;
    color: #0D1111;
}

.list-info .info-courses {
    position: absolute;
    top: 149px;
    left: -40px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.list-info .info-courses .content {
    display: flex;
    align-items: center;
    padding: 18px 25px;
}

.info-courses .content .book {
    margin-right: 16px;
    position: relative;
    display: inline-block;
    width: 36px;
    height: 40px;
    background: url('../img/icons/book.svg');
    background-size: cover;
}

.info-courses .content .book::before {
    position: absolute;
    content: '';
    inset: 28px 4px 8px;
    width: 28px;
    height: 4px;
    background: #FFFFFF;
    border-radius: 4px;
}

.info-courses .content span {
    width: 55px;
    line-height: 15px;
}

.list-info .info-schedules {
    position: absolute;
    left: -65px;
    bottom: 46px;
    background: #FFFFFF;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.list-info .info-schedules .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 25px 23px;
}

.info-schedules .ratio {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-schedules .ratio .percent {
    position: relative;
    width: 74px;
    height: 6px;
    background: #EDF1F5;
    border-radius: 3px;
}

.info-schedules .ratio .percent:before {
    position: absolute;
    content: "";
    width: var(--percent);
    height: 6px;
    background: #FB9899;
    border-radius: 3px;
}

.info-schedules .ratio .percent:nth-child(2) {
    margin-top: 12px;
}

.info-schedules .ratio .percent:nth-child(3) {
    margin-top: 10px;
}

.info-schedules .ratio .percent:nth-child(3) {
    margin-top: 10px;
}

.info-schedules .ratio .percent:nth-child(4) {
    width: 26px;
    margin-top: 16px;
}

.list-info .info-students {
    position: absolute;
    right: 45px;
    bottom: 41px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.list-info .info-students .content {
    padding: 17px 35px;
}

.info-students .list-stutens {
    margin-top: 8px;
    display: flex;
}

.info-students .list-stutens .avatar {
    object-fit: cover;
    border-radius: 50%;
}

.list-stutens .student {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: var(--bg-avatar);
}

.list-stutens .student+.student {
    margin-left: -7px;
}

.list-stutens .student:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
}

.list-stutens .student:last-child span {
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

/* Features */
.features {
    background: #fff;
    margin-top: 70px;
    padding-bottom: 70px;
}

.features-about .sub-heading {
    margin-top: 18px;
    max-width: 577px;
}

.features-about .desc {
    margin-top: 18px;
    max-width: 590px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767E7E;
}

.features-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 87.5%;
}

.feature-item .feature-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 106px;
    background: var(--bg-feature-item);
    border-radius: 18px;
}

.feature-item .feature-name {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0D1111;
}

.feature-item .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9DA6A5;
}

.feature-item:first-child .desc {
    max-width: 168px;
}

.feature-item:nth-child(2) .desc {
    max-width: 223px;
}

.feature-item:last-child .desc {
    max-width: 224px;
}

/* Courses */
.courses {
    background: #fff;
    margin-top: 60px;
}

.courses-about .sub-heading {
    margin-top: 18px;
}

.courses-about .courses-desc {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
}

.courses-about .courses-desc .desc {
    max-width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767E7E;
}

.courses-about .courses-desc .all-courses {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: #1EBFC1;
}

.courses .courses-list {
    margin-top: 79px;
    display: flex;
    justify-content: space-between;
}

.courses-list .courses-item {
    position: relative;
    border-radius: 8px;
    height: 517px;
    cursor: pointer;
}

.courses-item:hover .overlay {
    background: transparent;
    opacity: 1;
}

.courses-img {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    border-radius: 8px;
    background: #D0EFED;
    opacity: 0.35;
    transition: all .3s ease-out;
}

.overlay.one:first-child {
    opacity: 0.98;
}

.courses-img img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.courses-item .courses-content {
    position: absolute;
    bottom: 16px;
    left: 17px;
    right: 17px;
    padding: 18px 25px 29px 25px;
    background: #FFFFFF;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.courses-content .courses-name {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0D1111;
}

.courses-content .courses-price {
    margin-top: 16px;
    font-size: 1.6rem;
    color: #767E7E;
}

.courses-content .courses-price .money {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0D1111;
}

.courses-content .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9DA6A5;
}

.courses-info {
    margin-top: 18px;
}

.courses-info .courses-class {
    margin-left: 16px;
    margin-right: 26px;
}

.courses-info .courses-class,
.courses-info .courses-time {
    position: relative;
    font-size: 1.4rem;
    color: #9DA6A5;
}

.courses-info .courses-class::before,
.courses-info .courses-time::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -12px;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 50%;
}

/* Countdown */
.countdown {
    margin-top: 261px;
}

.count-qty {
    display: flex;
    justify-content: center;
    gap: 202px;
}

.qty-item {
    text-align: center;
}

.qty-item .qty-number {
    font-weight: 700;
    font-size: 6.2rem;
    color: #0D1111;
}

.qty-item .qty-desc {
    margin-top: 34px;
    font-size: 1.8rem;
    color: #767E7E;
}

/* Testimonial */
.testimonial {
    margin-top: 265px;
    padding-bottom: 20px;
}

.testimonial .body {
    display: flex;
}

.testimonial .testimonial-content {
    position: relative;
    width: 36%;
}

.testimonial-content .opent-notes {
    position: absolute;
    top: 37px;
    left: 0px;
    width: 36px;
    height: 29px;
}

.testimonial-content blockquote {
    margin-top: 93px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5D6564;
}

.testimonial-content .author {
    margin-left: 12px;
    position: relative;
    display: inline-block;
    margin-top: 33px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #070707;
}

.testimonial-content .author::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -13px;
    width: 8px;
    height: 2px;
    background: #070707;
}

.testimonial-content .author span {
    margin-left: 4px;
    font-weight: 400;
    color: #767E7E;
}

.testimonial-content .testimonial-buttons {
    margin-top: 52px;
}

.testimonial-buttons .testimonial-btn {
    margin-bottom: 27px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #2AC9BF;
    border-radius: 50%;
    border: none;
}

.testimonial-btn+.testimonial-btn {
    margin-left: 26px;
}

.testimonial-img {
    position: relative;
    width: 679px;
    margin-left: 72px;
}

.testimonial-img .testimonial-student-1 {
    position: absolute;
    left: 0;
    bottom: 125px;
}

.testimonial-student-1 .avatar {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--bg-avatar);
}

.testimonial-img .testimonial-student-2 {
    position: absolute;
    top: 0;
    left: 144px;
}

.testimonial-student-2 .avatar {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background: var(--bg-avatar);
}

.testimonial-img .testimonial-student-3 {
    position: absolute;
    bottom: -20px;
    left: 212px;
}

.testimonial-student-3 .avatar {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--bg-avatar);
}

.testimonial-img .testimonial-student-4 {
    position: absolute;
    top: 107px;
    right: 171px;
}

.testimonial-student-4 .avatar {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    background: var(--bg-avatar);
}

.testimonial-img .testimonial-student-5 {
    position: absolute;
    top: 19px;
    right: 0;
}

.testimonial-student-5 .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: var(--bg-avatar);
}

.testimonial-img .testimonial-student-6 {
    position: absolute;
    bottom: 9px;
    right: 32px;
}

.testimonial-student-6 .avatar {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--bg-avatar);
}

/* Call to action */
.cta {
    margin-top: 130px;
    padding: 76px 0 88px;
    background: #DEF6F5;
}

.cta .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta .content .sub-heading {
    color: #070707;
    line-height: 1.5;
}

.cta .content .desc {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767E7E;
}

.cta .btn-cta {
    margin-right: 158px;
    min-width: 186px;
    background: #2AC9BF;
}

.cta .btn-cta a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #FFFFFF;
}

